OPENWEATHERMAP_API_KEY=your_key_here

# Fire detection settings
NASA_FIRMS_API_KEY=your_key_here
FIRE_RADIUS_KM = dist_in_km
FIRMS_URL = "url"
FIRMS_SOURCE = "SATELLITE_SOURCE"

LATITUDE=45.750000
LONGITUDE=4.850000

# Flood detection settings
VIGICRUES_STATION_CODE=V7200010
METEOFRANCE_API_KEY=your_key_here
METEOFRANCE_DEPT=69